* { margin: 0; padding: 0; text-decoration: none; }
body { width: 600px; font-family: Verdana, Geneva, Tahoma, sans-serif; }
#interface { width: 600px; margin: auto; background-image: linear-gradient(to bottom, #fb0, #fff); width: 50%; }
header { background-color: #fb0; padding: 20px; }
h1 { font-family: Arial, Helvetica, sans-serif; padding: 5px; }
h4 { margin-left: 250px; padding: 5px; }
section { padding: 55px; }

/* jobs */
ul#jobs { padding: 5px; margin-left: 50px; }

/* Galeria */
ul#album-fotos { width: 800px; margin: 0 auto; padding: 60px; overflow: hidden; list-style: none; }
ul#album-fotos li { float: left; width: 300px; height: 300px; margin: 10px; background-color: #fff;
    border: 3px solid #fff; box-shadow: 1px 1px 3px rgba(0, 0, 0, .4); -webkit-transition: all 1s ease-in; }
ul#album-fotos li span { opacity: 0; color: #fff; text-shadow: 1px 1px 1px #000; padding: 5px;
    background-color: rgba(0, 0, 0, .3); font-family: sans-serif; font-size: 10pt; line-height: 370px; }
ul#album-fotos li:hover { -webkit-transform: scale(1.5); }
ul#album-fotos li:hover span { opacity: 1; }
ul#album-fotos li { background-position: 60% 60%; background-size: 400px; background-color: #fff; }
ul#album-fotos li:hover { background-position: 0px 0px; background-size: 200px; }
ul#album-fotos li#foto01 { background: url('contrapiso.png') no-repeat; }
ul#album-fotos li#foto02 { background: url('revestimento.jpg') no-repeat; }
ul#album-fotos li#foto03 { background: url('telhado.jpg') no-repeat; }
ul#album-fotos li#foto04 { background: url('fundacao.jpg') no-repeat; }
ul#album-fotos li#foto05 { background: url('escada.jpg') no-repeat; }
ul#album-fotos li#foto06 { background: url('pintura.jpg') no-repeat; }

/* Contatos */
ul#contatos { width: 800px; margin: 0 auto; padding: 60px; overflow: hidden; list-style: none; }

footer { background-color: #999; color: #fff; padding: 5px; font-size: 12px; text-align: center; }
